.navbar-dark {
    background-color:rgb(255, 136, 0);
}

#top {
    background-image: url("../img/backgroundimg.png");
    background-repeat: no-repeat;
    background-size: 100%;  
}

.logo {
    width: 20vw;
    border-radius: 100%;
 
}

.card-img1 {
    padding-top: 5vh;
}

.header1 {
    font-family: 'Notable', sans-serif;
    color: rgb(15, 41, 112);
    font-size: 7vw;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.header2 {
    font-family: 'Notable', sans-serif;
    color: rgb(255, 136, 0);
    font-size: 5vw;
    margin: 2vw;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    padding-bottom: 5vh;
}

.card1 {
    margin-top: 15vh;
}



.font1 {
    font-family: 'Caveat Brush', cursive;
    color: rgb(31, 44, 99);
    background-color: #fffed473;
    font-size: 3vw;
    margin: 2vw;
    
}

.font2 {
    font-family: 'Caveat Brush', cursive;
    color: rgb(31, 44, 99);
    font-size: 2vw;
    margin: 2vw;
   
}

.font3 {
    font-family: 'Caveat Brush', cursive;
    color: rgb(214, 114, 0);
    font-size: 2vw;
    margin: 2vw;
   
}

.aboutp {
    padding: 2vw;
}

.col-pic {
    width: 40vw;
    padding: 2vw;
}

.row2 {
    background-color: rgb(225, 245, 245);
}

.row1 {
    background-color: antiquewhite;
}

.calender {
    width: 80vw;
    height: 65vh;
    padding-left: 10vw;
    padding-right: 10vw;

}

#gallery {
    padding: 2vw;
}

@media only screen and (max-width : 640px) {
    .header1{
        font-size: 40px !important;
    }
    .card1 {
        margin-top: 10vh;
    }

}